[*.cs]

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = silent

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = silent

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent
